@import '../../../assets/scss/palette';

:host {
  width: 100%;
  display: block;
}
.movie-poster {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}
.movie-detail {
  &--grid {
    display: grid;
    grid-template-columns: 40% 60%;
    .title {
      font-size: 3.75rem;
    }

    .subtitle {
      font-size: 1.5rem;
      line-height: 1.5;
    }
    &-item {
      padding: 4rem;
    }
    @media only screen and (max-width: 900px) {
      display: block;
      grid-template-columns: unset;
      margin-bottom: 5rem;
    }
    @media only screen and (max-width: 1500px) {
      max-width: 105rem;
      &-item {
        padding: 3rem;
      }
    }

    @media only screen and (max-width: 1462.5px) {
      max-width: 110rem;
      margin-bottom: 6rem;
    }

    @media only screen and (max-width: 1300px) {
      max-width: 110rem;
      margin-bottom: 5rem;
      &-item {
        padding: 2rem;
      }
    }

    max-width: 120rem;
    margin: 0 auto 7rem;
  }
  &--summary {
    display: flex;
    flex-direction: column;
  }
  &--genres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &-link {
      &:not(:last-child) {
        margin-right: 2rem;
      }
      display: flex;
      align-items: center;
      padding: 0.5rem 0;
      color: var(--palette-secondary-main);
      line-height: 1;
      font-size: 1.25rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  &--cast {
    margin-bottom: 5rem;
  }
  &--ad-section {
    display: flex;
    align-items: center;
    &-links {
      display: flex;
      margin-right: auto;
      > :not(:last-child) {
        margin-right: 2rem;
        @media only screen and (max-width: 1300px) {
          margin-right: 1rem;
        }
      }
    }
  }
}

.movie-detail--basic-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.movie-detail--languages-runtime-release {
  color: var(--palette-warning-main);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.movie-detail--section {
  margin-bottom: 3rem;
}
.section-heading {
  margin-bottom: 1rem;
  color: var(--palette-text-primary);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.section-text {
  color: var(--palette-text-secondary);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  text-align: justify;
}

.movie-detail--cast-list {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin: 0 20px;
}

.movie-detail--cast-actor {
  height: auto;
  width: 70px;
  display: block;
  flex-shrink: 0;
  img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
  }
}

.genre-link {
  align-items: center;
  padding: 0.5rem 0rem;
  color: var(--palette-secondary-main);
  line-height: 1;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  padding: 6px 16px;
  min-width: 96px;
  min-height: 48px;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--palette-primary-main);
  border: 1px solid rgba(var(--palette-primary-main-rgb), 0.5);
  border-radius: 4px;
  box-shadow: none;
  background-color: transparent;

  .icon {
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }
}

.movie {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 20px;
  height: auto;
  background-position: top;
  background-size: cover;
  color: var(--palette-secondary-contrast-text);
  text-align: left;
  @media only screen and (min-width: 731px) {
    min-height: 500px;
  }

  &--background {
    .image-rotator {
      position: absolute;
      top: 0;
      left: 30%;
      bottom: 0;
      right: 0;
      width: 70%;
      overflow: hidden;
      background-size: cover;
      background-position: center;

      @media only screen and (min-width: 731px) {
        background-position: initial;
      }
    }

    .vignette {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 30%;
      background: var(--palette-common-black);
      z-index: 2;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        bottom: 0;
        width: 100%;
        background-image: linear-gradient(to right, var(--palette-common-black), transparent);
      }
    }
  }

  &__head {
    display: inherit;
    z-index: 2;

    .btn-back {
      border: none;
      background: transparent;
      color: var(--palette-secondary-contrast-text);
      cursor: pointer;
    }

    h1 {
      color: var(--palette-secondary-contrast-text);
      text-align: left !important;
    }
  }

  &__body {
    z-index: 2;

    .movie {
      &--infos {
        display: flex;
        align-items: center;

        span {
          margin: 0 5px 0 0;
        }
      }

      &--overview {
        font-weight: normal;
        text-align: justify;
      }

      &--genre {
        ul {
          padding: 0;

          li {
            display: inline-block;
            padding: 0 5px 0 0;

            &::after {
              content: '•';
              color: var(--palette-primary-light);
            }

            &:last-child:after {
              content: '';
            }
          }
        }
      }

      &--actions {
        button {
          padding: 0;
        }
      }
    }
  }
}

.movie {
  &__tab {
    .movie {
      &--cast {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 30px;

        @media only screen and (max-width: 731px) {
          flex-direction: column;
        }

        .cast {
          display: flex;
          flex-direction: column;
          flex: 1;
          align-items: center;
          min-width: 200px;
          padding: 5px;
        }

        a {
          display: contents;

          &:hover {
            background: var(--palette-action-hover);
          }
        }

        .avatar {
          flex-shrink: 0;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          object-fit: cover;
        }

        h3 {
          color: var(--palette-primary-light);
          margin: 20px 0 0;
        }

        p {
          color: var(--palette-text-secondary);
          margin: 0 0 20px;
        }

        .icon-person {
          margin-top: 15px;
        }
      }

      &--trailers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 30px 0;

        .btn-play {
          display: flex;
          flex-direction: column;
          flex: 1;
          align-items: center;
          width: 250px;
          margin: 5px;
        }

        p {
          color: #fff;
          width: 250px;
        }

        ::ng-deep .mat-button-wrapper {
          line-height: 21px;
        }
      }

      &--similar {
        h3 {
          color: var(--palette-primary-light);
        }
      }
    }
  }
}

small {
  padding: 5px;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}
