@import '../../assets/scss/palette';

.btn-social {
  margin: 0.625rem 10px;
  min-width: 242px;
  height: 40px;
  border: none;
  background: transparent;
  outline: none;
}
.btn-twitter {
  background-color: $white;
}
.btn-facebook {
  background-color: $facebook;
  color: $white;
}
.btn-google {
  background-color: $twitter;
  color: $white;
}
svg {
  height: 24px;
  width: 24px;
  margin: 0 10px 0 -6px;
}
