@import '../ui/token/mixins/media';
@import '../ui/token/mixins/flex';

.profile-button {
  outline: none;
  border: none;
  color: var(--palette-secondary-main);
  background-color: var(--palette-background-default);
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .focus-overlay {
    position: absolute;
    border-radius: 100%;
    width: 200%;
    height: 200%;
  }

  &:hover {
    .focus-overlay {
      background-color: rgba(var(--palette-secondary-main-rgb), 0.05);
    }
  }
}

.account-menu-dropdown {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--palette-background-default);

  svg {
    z-index: 2;
    fill: var(--palette-secondary-main);
  }

  &:hover {
    .profile-menu-content {
      visibility: visible;
      pointer-events: auto;
    }
  }

  .profile-menu-content {
    visibility: hidden;
    width: 200px;
    background: var(--palette-background-default);
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 30px;
    min-width: 160px;
    box-shadow: var(--theme-shadow-dropdown);
    border: 1px solid var(--palette-divider);
    background-color: var(--palette-background-paper);
    z-index: 1300;
  }
}

.ui-toolbar {
  height: 72px;
  @include d-flex-v;
  justify-content: space-between;
  width: 100%;
  padding: 0 24px;

  @include isDesktop {
    &--action {
      display: none;
    }
  }

  @include isMobile {
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    z-index: 1100;
    box-shadow: rgb(0 0 0 / 20%) 0 2px 4px -1px, rgb(0 0 0 / 14%) 0 4px 5px 0,
      rgb(0 0 0 / 12%) 0 1px 10px 0;
    background-color: var(--palette-background-paper);
    height: 64px;
  }

  @include isSmall {
    height: 56px;
    padding: 0 16px;
  }

  @include isXSmall {
    height: 56px;
    padding: 0 16px;
    background-color: hsl(0deg 0% 0% / 0%);
  }

  &--action {
    color: var(--palette-secondary-main);
  }

  &--widget-container {
    @include d-flex-vh;
    padding: 2rem;
    margin-left: auto;

    > :not(:first-child) {
      margin-left: 12px;
      margin-right: 12px;
    }

    a {
      @include d-flex-v;
      color: var(--palette-secondary-main);
    }

    @include isMobile {
      padding: 0;
      > :not(:first-child) {
        margin: 0 0 0 8px;
      }
    }
  }
}

ui-side-drawer {
  grid-area: sidenav;
}

.menu-footer {
  margin-top: 16px;
}

.content-wrapper {
  grid-area: content;
}

@include isMobile {
  .content-wrapper {
    padding-top: 72px;
  }
}

.content {
  min-height: calc(100vh - 72px);
  width: 100%;
  contain: layout;
}

:host {
  min-height: 100vh;
  background: var(--palette-background-default);
  @include isDesktop {
    display: grid;
    grid:
      'sidenav  content' 100vh /
      25rem 1fr;
  }
}

.tmdb-mark {
  @include d-flex-h;
  margin: 16px 8px;

  > img {
    height: 3rem;
  }
}

.navigation,
.navigation-header {
  @include isDesktop {
    border-right: 1px solid var(--palette-action-disabled-background);
  }
}

.navigation-header {
  display: none;
  width: 100%;
  height: 18rem;
  margin-bottom: 2rem;
  place-items: center;

  .logo-img {
    max-width: 75%;
  }

  @include isDesktop {
    display: grid;
  }
}

.navigation {
  @include d-flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  font-size: var(--text-md);
  font-weight: bold;
  contain: content;

  a {
    outline: none;
    display: block;
    margin-bottom: 0.5rem;
    color: var(--palette-primary-dark);
    content-visibility: auto;
    contain-intrinsic-size: 20px;

    &.active,
    &:active {
      color: var(--palette-secondary-main);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &--menu-item {
    padding: 1rem 2rem;
    line-height: 1;
    display: flex;
    align-items: center;
  }

  &--menu-item-icon {
    margin-right: 5px;
    width: 0.875em;
    height: auto;
  }

  &--headline {
    color: var(--palette-text-primary);
    margin: 4rem 0 1rem 1rem;
    font-size: var(--text-sm);
  }
}
