<ng-container *rxLet="viewState$; let vs">
  <ui-side-drawer
    *rxLet="[]"
    [opened]="vs.sideDrawerOpen"
    (openedChange)="ui.sideDrawerOpenToggle(false)"
  >
    <a class="navigation-header" aria-label="Main page" href="/">
      <fast-svg name="movies-logo" size="150"></fast-svg>
    </a>
    <nav class="navigation" *rxLet="[]">
      <h3 class="navigation--headline">Discover</h3>
      <a
        aria-label="Popular"
        data-uf="menu-cat-popular"
        class="navigation--link"
        [routerLink]="['/list', 'category', 'popular']"
        routerLinkActive="active"
      >
        <div class="navigation--menu-item">
          <fast-svg
            class="navigation--menu-item-icon"
            name="popular"
          ></fast-svg>
          Popular
        </div>
      </a>
      <a
        data-uf="menu-cat-topRated"
        class="navigation--link"
        [routerLink]="['/list', 'category', 'top_rated']"
        routerLinkActive="active"
      >
        <div class="navigation--menu-item">
          <fast-svg
            class="navigation--menu-item-icon"
            name="top_rated"
          ></fast-svg>
          Top Rated
        </div>
      </a>
      <a
        data-uf="menu-cat-upcoming"
        class="navigation--link"
        [routerLink]="['/list', 'category', 'upcoming']"
        routerLinkActive="active"
      >
        <div class="navigation--menu-item">
          <fast-svg
            class="navigation--menu-item-icon"
            name="upcoming"
          ></fast-svg>
          Upcoming
        </div>
      </a>
      <h3 class="navigation--headline">Genres</h3>
      <a
        [attr.data-uf]="'menu-gen-' + genre.id"
        *rxFor="let genre of genres$; trackBy: trackByGenre; strategy: 'idle'"
        class="navigation--link"
        [routerLink]="['/list', 'genre', genre.id]"
        routerLinkActive="active"
      >
        <div class="navigation--menu-item">
          <fast-svg class="navigation--menu-item-icon" name="genre"></fast-svg>
          {{ genre.name }}
        </div>
      </a>
    </nav>
    <div class="menu-footer">
      <a
        aria-label="The movie DB website"
        href="https://www.themoviedb.org/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <fast-svg name="tmdb-logo" width="75" height="30"></fast-svg>
      </a>
    </div>
  </ui-side-drawer>
  <div class="content-wrapper">
    <div *rxLet="[]" class="ui-toolbar">
      <ui-hamburger-button
        data-uf="menu-btn"
        class="ui-toolbar--action"
        (click)="ui.sideDrawerOpenToggle(!vs.sideDrawerOpen)"
      >
      </ui-hamburger-button>
      <div class="ui-toolbar--widget-container">
        <ui-search-bar
          [query]="search$"
          (searchSubmit)="searchMovie($event)"
        ></ui-search-bar>
        <ui-dark-mode-toggle></ui-dark-mode-toggle>
        <div class="account-menu-dropdown">
          <button
            data-uf="profile-menu-button"
            type="button"
            aria-label="Toggle profile menu"
            name="profile"
            class="profile-button"
            (mouseenter)="ui.loadAccountMenu()"
          >
            <div class="focus-overlay"></div>
            <fast-svg name="account"></fast-svg>
          </button>
          <div class="profile-menu-content" data-uf="profile-menu-content">
            <ng-container
              *rxLet="accountMenuComponent$; suspense: loading"
              [lazy]="accountMenuComponent$"
            >
            </ng-container>
            <ng-template #loading> Loading...</ng-template>
          </div>
        </div>
      </div>
    </div>
    <div *rxLet="[]" class="content">
      <ng-content></ng-content>
    </div>
  </div>
</ng-container>
