@import '../ui/token/mixins/media';
@import '../ui/token/mixins/flex';
@import '../ui/component/icons/icon';

.account-menu {
  max-height: 33px;
  display: block;

  &:hover {
    .menu {
      display: block;
    }
  }

  .menu {
    background: var(--palette-background-default);
    width: 300px;
  }
}

.menu {
  min-height: 33px;
  display: block;
  list-style-type: none;
  position: relative;
  cursor: pointer;

  li {
    list-style-type: none;
    line-height: 33px;
    position: relative;
  }
}

.menu li:hover {
  .menu {
    display: block;
  }
}
.menu li {
  .menu:hover {
    display: block;
  }
}
.menu .menu {
  position: absolute;
  z-index: 1;
  display: none;
  right: 0;
  width: 158px;
}

.ui-toolbar {
  height: 72px;
  @include d-flex-v;
  justify-content: space-between;
  width: 100%;
  padding: 0 24px;

  @include isDesktop {
    &--action {
      display: none;
    }
  }

  @include isMobile {
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    z-index: 1100;
    box-shadow: rgb(0 0 0 / 20%) 0 2px 4px -1px, rgb(0 0 0 / 14%) 0 4px 5px 0,
      rgb(0 0 0 / 12%) 0 1px 10px 0;
    background-color: var(--palette-background-paper);
    height: 64px;
  }

  @include isSmall {
    height: 56px;
    padding: 0 16px;
  }

  @include isXSmall {
    height: 56px;
    padding: 0 16px;
    background-color: hsl(0deg 0% 0% / 0%);
  }

  &--action {
    color: var(--palette-secondary-main);
  }

  &--widget-container {
    @include d-flex-h;
    padding: 2rem;
    margin-left: auto;

    > :not(:first-child) {
      margin-left: 12px;
      margin-right: 12px;
    }

    a {
      @include d-flex-v;
      color: var(--palette-secondary-main);
    }

    @include isMobile {
      padding: 0;
      > :not(:first-child) {
        margin: 0 0 0 8px;
      }
    }
  }
}

ui-side-drawer {
  grid-area: sidenav;
}

.menu-footer {
  margin-top: 16px;
}

.content-wrapper {
  grid-area: content;
}

@include isMobile {
  .content-wrapper {
    padding-top: 72px;
  }
}

.content {
  min-height: calc(100vh - 72px);
  width: 100%;
  contain: layout;
}

:host {
  min-height: 100vh;
  background: var(--palette-background-default);
  @include isDesktop {
    display: grid;
    grid:
      'sidenav  content' 100vh /
      25rem 1fr;
  }
}

.tmdb-mark {
  @include d-flex-h;

  > img {
    height: 4rem;
  }
}

.navigation,
.navigation-header {
  @include isDesktop {
    border-right: 1px solid var(--palette-action-disabled-background);
  }
}

.navigation-header {
  display: none;
  width: 100%;
  height: 15rem;
  margin-top: 3rem;
  place-items: center;

  @include isDesktop {
    display: grid;
  }
}

.navigation {
  @include d-flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  font-size: var(--text-md);
  font-weight: bold;

  a {
    outline: none;
    display: block;
    margin-bottom: 0.5rem;
    color: var(--palette-primary-dark);

    &.active,
    &:active {
      color: var(--palette-secondary-main);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &--menu-item {
    padding: 1rem 2rem;
  }

  &--menu-item-icon {
    margin-right: 5px;
    width: 0.875em;
    height: auto;
    font-size: var(--text-md);
  }

  &--headline {
    &:not(:first-of-type) {
      margin-top: 3rem;
    }

    color: var(--palette-text-primary);
    margin: 0 0 1rem 1rem;
  }
}
