<article *rxLet="personCtx$; let personCtx">
  <ng-container *ngIf="personCtx?.value as person; else loading">
    <ui-detail-grid>
      <div detailGridMedia>
        <img
          class="aspectRatio-2-3 fit-cover"
          [src]="
            person?.profile_path
              ? 'https://image.tmdb.org/t/p/w' +
                person.imgWidth +
                '/' +
                person.profile_path
              : 'assets/images/no_poster_available.jpg'
          "
          [width]="person.imgWidth"
          [height]="person.imgHeight"
          alt="poster movie"
          [title]="person?.name"
          data-test="detail-item-img"
        />
      </div>
      <div detailGridDescription>
        <header>
          <h1>{{ person.name }}</h1>
          <h2>{{ person.birthday }}</h2>
        </header>
        <section>
          <h3>The Biography</h3>
          <p>{{ person.biography || 'There is no synopsis available...' }}</p>
        </section>
        <section class="movie-detail--ad-section-links">
          <a
            *ngIf="person.imdb_id"
            class="btn"
            target="_blank"
            rel="noopener noreferrer"
            [href]="'https://www.imdb.com/person/' + person.imdb_id"
          >
            IMDB
            <svg class="btn__icon" viewBox="0 0 24 24" fill="currentColor">
              <path d="M0 0h24v24H0z" fill="none" />
              <path
                d="M18 3v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2V3h-2zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"
              />
            </svg>
          </a>
          <button class="btn primary-button" (click)="back()">
            <svg viewBox="0 0 448 512" fill="currentColor" width="1em">
              <path
                d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"
              ></path></svg
            >&nbsp; Back
          </button>
        </section>
      </div>
    </ui-detail-grid>
  </ng-container>
  <ng-template #loading>
    <div class="loader"></div>
  </ng-template>
</article>
<article>
  <header *rxLet="personCtx$; let p">
    <h1>{{ p?.value?.name || '...' }} in</h1>
    <h2>Movies</h2>
  </header>
  <div class="select-wrapper" *rxLet="sortingModel$; let sorting">
    <input
      type="text"
      readonly
      [value]="sorting.activeSorting"
      (click)="toggleSorting(true)"
    />
    <ul class="options" [hidden]="!sorting.showSorting">
      <li
        [ngClass]="{ selected: option.name === sorting.activeSorting }"
        class="option"
        *ngFor="let option of sortOptions"
        (click)="sortBy(option)"
      >
        {{ option.name }}
      </li>
    </ul>
    <div
      class="select-overlay"
      (click)="toggleSorting(false)"
      [hidden]="!sorting.showSorting"
    ></div>
  </div>
  <ng-container
    *rxLet="infiniteScrollRecommendations$; let ctx; strategy: 'immediate'"
  >
    <ui-movie-list
      (paginate)="paginate()"
      [movies]="ctx.results"
      data-test="list-wrapper"
    >
    </ui-movie-list>
    <div *ngIf="ctx.loading" class="loader" data-test="list-loader"></div>
  </ng-container>
</article>
