@use '~@angular/material' as mat;

$my-app-primary: mat.define-palette(mat.$red-palette, 500);
$my-app-accent: mat.define-palette(mat.$red-palette, A100);
$my-app-warn: mat.define-palette(mat.$orange-palette);

$custom-typography: mat.define-typography-config(
  $font-family: 'Montserrat',
);

$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
    typograhy: $custom-typography,
  )
);

@include mat.core($custom-typography);

@include mat.dialog-theme($my-app-theme);
@include mat.form-field-theme($my-app-theme);
