html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

@media only screen and (max-width: 1500px) {
  html {
    font-size: 57.5%;
  }
}

@media only screen and (max-width: 1300px) {
  html {
    font-size: 55%;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  color: var(--palette-text-primary);
}

.header {
  margin-bottom: 2rem;
}
.title {
  margin-bottom: 0.5rem;
  color: var(--palette-text-primary);
  font-size: 3rem;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.subtitle {
  color: var(--palette-text-secondary);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
