:root {
  --palette-background-backdrop: rgba(0, 0, 0, 0.5);
  --palette-common-white: #fff;
  --palette-common-black: #000;
  --palette-custom-lightBlue: lightblue;
  --palette-custom-tmdbLightBlue: #01b4e4;
}
