.aspectRatio-2-3 {
  width: 100%;
  display: block;
  height: auto;
  aspect-ratio: var(--theme-aspectRatio-2-3);
}
.aspectRatio-16-9 {
  width: 100%;
  display: block;
  height: auto;
  aspect-ratio: var(--theme-aspectRatio-16-9);
}
.aspectRatio-4-3 {
  width: 100%;
  display: block;
  height: auto;
  aspect-ratio: var(--theme-aspectRatio-4-3);
}

.fit-cover {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}
