.mat-dialog-content {
    text-align: center;

    a {
        &:hover {
            opacity: 0.5;
        }
    }
}
.mat-dialog-actions {
    display: flex;
    justify-content: center;
}

.share-buttons {
    display: flex;
    justify-content: space-between;
}