:host {
  display: contents;
}
.side-drawer {
  position: fixed;
  width: 250px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: var(--theme-drawer-zIndex);
  padding: 32px 16px 50px;
  overflow-y: auto;
  box-sizing: border-box;
  transition: transform var(--theme-anim-duration-short)
    var(--theme-anim-easing-easeOut);
  box-shadow: var(--theme-shadow-16);
  background-color: var(--palette-background-paper);
  contain: strict;
  transform: translateX(-100%);
}

@media screen and (min-width: 1298px) {
  .side-drawer {
    transform: translateX(0);
  }
  app-backdrop {
    display: none;
  }
}
.side-drawer.opened {
  transform: translateX(0);
}
