<div class="about">
  <div class="about__head">
    <img src="assets/icons/android-chrome-192x192.png" alt="logo">
    <h2>HubMovies</h2>
    <small>Version 1.0.0</small>
  </div>
  <div class="about__body">
    <div class="about--container">
      <div class="about--info">
        <mat-icon>bug_report</mat-icon>
        <h3>Send a feedback</h3>
        <p>If you have comments or suggestions, you can send an <a href="mailto:chabox59@gmail.com?subject=[HubMovies] Feedback">email</a></p>
      </div>
    </div>
    <div class="about--container">
      <div class="about--info">
        <mat-icon>perm_identity</mat-icon>
        <h3>Developer</h3>
        <p>C. Lamarque</p>
      </div>
    </div>
    <div class="about--container">
      <div class="about--info">
        <mat-icon>movie_filter</mat-icon>
        <h3>The movie Database</h3>
        <p>This application uses the API from TMDB but is not certified or approved by them.</p>
      </div>
    </div>
    <div class="about--container">
      <div class="about--info">
        <mat-icon>copyright</mat-icon>
        <h3>2019 Copyright</h3>
        <p>This application can not be reproduced or used in any manner whatsoever without the express written permission of
          the owner.
        </p>
      </div>
    </div>
  </div>
</div>