@import "../../ui/token/mixins/flex";
@import "../../ui/component/aspect-ratio/aspect-ratio";
@import '../../ui/component/loader/loader';
@import '../../ui/component/button/button';
@import '../../ui/component/dialog/dialog.component';

:host {
  width: 100%;
  display: block;
}

.loader {
  position: absolute;
  z-index: 200;
  top: 250px;
}

.movie-detail-wrapper {
  min-height: 500px;
}

.movie-detail {
  contain: content;

  @media only screen and (max-width: 1500px) {
    &--grid-item {
      padding: 3rem;
    }
  }

  &--genres {
    @include d-flex-v;
    flex-wrap: wrap;

    &-link {
      &:not(:last-child) {
        margin-right: 2rem;
      }

      @include d-flex-v;
      padding: 0.5rem 0;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &--ad-section-links {
    .section--content {
      @include d-flex;
      margin-right: auto;
    }

    .btn {
      margin-right: 2rem;
      @media only screen and (max-width: 1300px) {
        margin-right: 1rem;
      }
    }

    > .btn:last-child {
      margin-right: 0rem;
      float: right;
    }
  }

  &--basic-infos {
    @include d-flex-v;
    justify-content: space-between;
  }

  &--cast-list {
    @include d-flex;
    flex-direction: row;
    margin: 0 20px;
    width: 100%;
    height: 50px;
    content-visibility: auto;
    contain-intrinsic-size: 48px;
    contain: strict;
    overflow: hidden;
  }
}

.cast-list {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.cast-list::-webkit-scrollbar {
  display: none;
}

.cast-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cast-list--btn {
  background: transparent;
  border: 0;
  z-index: 2;
  font-size: 40px;
  text-decoration: none;
  cursor: pointer;
  color: rgb(102, 102, 102);
}

.movie-detail--languages-runtime-release {
  color: var(--palette-warning-main);
  text-transform: uppercase;
}

.movie-detail--section {
  margin-bottom: 3rem;
}

.movie-detail--cast-actor {
  display: block;
  height: auto;
  width: 70px;
  content-visibility: auto;
  content-intrinsic-size: 50px;
  flex-shrink: 0;

  img {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: var(--theme-borderRadius-circle);
    object-fit: cover;
    margin: 0 auto;
  }
}
.recommendations {
  contain: content;
}
