<article class="movie-detail-wrapper">
  <ng-container *rxLet="movie$; let movie;">
    <ui-detail-grid
      [style.opacity]="!!movie ? 1 : 0">
      <div detailGridMedia>
        <img
          class="aspectRatio-2-3 fit-cover"
          [src]="movie.imgUrl"
          [width]="movie.imgWidth"
          [height]="movie.imgHeight"
          alt="poster movie"
          [title]="movie.title"
          data-uf="hero-img"
        />
      </div>
      <div detailGridDescription>
        <header>
          <h1 data-uf="header-main">{{ movie.title }}</h1>
          <h2 data-uf="header-sub">{{ movie.tagline }}</h2>
        </header>
        <section class="movie-detail--basic-infos">
          <ui-star-rating
            [rating]="movie.vote_average"
            [showRating]="true"
          ></ui-star-rating>
          <div class="movie-detail--languages-runtime-release">
            <strong>{{ movie.languages_runtime_release }}</strong>
          </div>
        </section>
        <section>
          <h3>The Genres</h3>
          <div class="movie-detail--genres">
            <a
              class="movie-detail--genres-link"
              *ngFor="
                let genre of movie.genres;
                trackBy: trackByGenre
              "
              [routerLink]="['/list/genre/', genre.id]"
            >
              <svg-icon name="genre" style="margin-right: .5rem"></svg-icon>
              {{ genre.name }}
            </a>
          </div>
        </section>
        <section>
          <h3>The Synopsis</h3>
          <p>  {{ movie.overview || 'There is no synopsis available...' }}</p>
        </section>
        <section>
          <h3>The Cast</h3>
          <div class="movie-detail--cast-list">
            <button (mousedown)="move(70)" type="button" role="button" class="cast-list--btn">«</button>
            <div #castListWrapper class="cast-list" *rxLet="castList$; let ctx;  strategy: 'immediate'">
              <a
                *rxFor="let c of  ctx.value; trackBy: trackByCast; index as idx;"
                [routerLink]="['/detail/person/',c.id]"
                (click)="$event.preventDefault()"
                [attr.data-uf]="'cast-' + idx"
                class="movie-detail--cast-actor"
              >
                <img
                  loading="lazy"
                  [src]="c.imgUrl"
                  [alt]="c.name"
                  [title]="c.name"
                />
              </a>
              <div *ngIf="ctx.loading" class="loader"></div>
            </div>
            <button (mousedown)="move(-70)" type="button" role="button" class="cast-list--btn">»</button>
          </div>
        </section>
        <section class="movie-detail--ad-section-links">
          <a
            class="btn"
            target="_blank"
            rel="noopener noreferrer"
            [href]="movie.homepage"
          >
            Website
            <svg-icon class="btn__icon" name="website"></svg-icon>

          </a>
          <a
            *ngIf="movie.imdb_id"
            class="btn"
            [target]="movie.target"
            rel="noopener noreferrer"
            [href]="movie.href"
          >
            IMDB
            <svg-icon class="btn__icon" name="imdb"></svg-icon>
          </a>
          <a
            *ngIf="movie.videoUrl"
            class="btn"
            (mouseover)="ui.iframe('load')"
            (click)="$event.preventDefault(); ui({dialog:'show',iframe:'load'})"
            href="#trainer"
          >
            Trailer
            <svg-icon class="btn__icon" name="play"></svg-icon>
          </a>

          <dialog class="video" #trailerDialog id="trailer-dialog">
            <span aria-controls="trailer-dialog" class="close" (click)="ui.dialog('close')"></span>
            <!--
             **🚀 Perf Tip for less resource usage:**
            only render iframe if the user needs it (e.g. `*rxIf` or `*ngIf`)
            *ngIf="initIframe$ | async;"
            -->
            <!--
            **🚀 Perf Tip for LCP:**
            To get out the best performance use the native HTML attribute loading="lazy" instead of a directive.
            This avoids bootstrap and template evaluation time and reduces scripting time in general.
            -->
            <iframe *rxIf="loadIframe$;" [bypassSrc]="movie.videoUrl" loading="lazy"
                    width="460" height="230"></iframe>

          </dialog>
          <button data-uf="back" class="btn primary-button" (click)="back()">
            <svg-icon class="btn__icon" name="back" size="1em"></svg-icon>&nbsp;Back
          </button>
        </section>
      </div>
    </ui-detail-grid>
    <div class="loader" *ngIf="!movie"></div>
  </ng-container>
</article>
<article>
  <header>
    <h1>Recommended</h1>
    <h2>Movies</h2>
  </header>
  <ng-container *rxLet="infiniteScrollRecommendations$; let ctx;  strategy: 'immediate'">
    <ui-movie-list (paginate)="paginateRecommendations()"
                   [movies]="ctx.results">
    </ui-movie-list>
    <div *ngIf="ctx.loading" class="loader"></div>
  </ng-container>

</article>
