<article class="movie-detail-wrapper">
  <ng-container *rxLet="movie$; let movie;">
    <ui-detail-grid
      [style.opacity]="!!movie ? 1 : 0">
      <div detailGridMedia>
        <img
          class="aspectRatio-2-3 fit-cover"
          [src]="movie?.imgUrl"
          [width]="movie?.imgWidth"
          [height]="movie?.imgHeight"
          alt="poster movie"
          [title]="movie?.title"
          data-uf="movie-detail-page--hero-img"
        />
      </div>
      <div detailGridDescription>
        <header>
          <h1 data-uf="movie-detail-page--header-main">{{ movie?.title }}</h1>
          <h2 data-uf="movie-detail-page--header-sub">{{ movie?.tagline }}</h2>
        </header>
        <section class="movie-detail--basic-infos">
          <ui-star-rating
            [rating]="movie?.vote_average"
            [showRating]="true"
          ></ui-star-rating>
          <div class="movie-detail--languages-runtime-release">
            <strong>{{ movie?.languages_runtime_release }}</strong>
          </div>
        </section>
        <section>
          <h3>The Genres</h3>
          <div class="movie-detail--genres">
            <a
              class="movie-detail--genres-link"
              *ngFor="
                let genre of movie?.genres;
                trackBy: trackByGenre
              "
              [routerLink]="['/list/genre/', genre.id]"
            >
              <svg viewBox="0 0 24 24" fill="currentColor" class="icon">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path
                  d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"
                />
                <circle cx="12" cy="12" r="5" />
              </svg>
              {{ genre.name }}
            </a>
          </div>
        </section>
        <section>
          <h3>The Synopsis</h3>
          <p>  {{ movie?.overview || 'There is no synopsis available...' }}</p>
        </section>
        <section>
          <h3>The Cast</h3>
          <div class="movie-detail--cast-list">
            <button (mousedown)="move(70)" type="button" role="button" class="cast-list--btn">«</button>
            <div #castListWrapper class="cast-list" *rxLet="castList$; let ctx;  strategy: 'immediate'">
              <a
                *rxFor="let c of  ctx.value; trackBy: trackByCast; index as idx;"
                [routerLink]="['/detail/person/',c.id]"
                (click)="$event.preventDefault()"
                [attr.data-uf]="'ui-cast-list--list-item-idx-' + idx"
                class="movie-detail--cast-actor"
              >
                <img
                  loading="lazy"
                  [src]="
                  c?.profile_path
                    ? 'https://image.tmdb.org/t/p/w185' + c.profile_path
                    : 'assets/images/no_poster_available.jpg'
                "
                  [alt]="c.name"
                  [title]="c.name"
                />
              </a>
              <div *ngIf="ctx.loading" class="loader"></div>
            </div>
            <button (mousedown)="move(-70)"  type="button" role="button" class="cast-list--btn">»</button>
          </div>
        </section>
        <section class="movie-detail--ad-section-links">
          <a
            class="btn"
            target="_blank"
            rel="noopener noreferrer"
            [href]="movie?.homepage"
          >
            Website
            <svg class="btn__icon" viewBox="0 0 24 24" fill="currentColor">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M17 7h-4v2h4c1.65 0 3 1.35 3 3s-1.35 3-3 3h-4v2h4c2.76 0 5-2.24 5-5s-2.24-5-5-5zm-6 8H7c-1.65 0-3-1.35-3-3s1.35-3 3-3h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-2zm-3-4h8v2H8z"
              />
            </svg>
          </a>
          <a
            *ngIf="movie?.imdb_id"
            class="btn"
            target="_blank"
            rel="noopener noreferrer"
            [href]="'https://www.imdb.com/title/' + movie?.imdb_id"
          >
            IMDB
            <svg class="btn__icon" viewBox="0 0 24 24" fill="currentColor">
              <path d="M0 0h24v24H0z" fill="none" />
              <path
                d="M18 3v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2V3h-2zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"
              />
            </svg>
          </a>
          <a
            *ngIf="movie?.videoUrl"
            class="btn"
            (mouseover)="ui.dialog('load')"
            (click)="$event.preventDefault(); ui.dialog('open');"
            href="#trainer"
          >
            Trailer
            <svg class="btn__icon" viewBox="0 0 448 512" fill="currentColor" width="0.875em">
              <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path>
            </svg>
          </a>

          <dialog class="video" #trailerDialog id="trailer-dialog" >
            <span aria-controls="trailer-dialog" class="close" (click)="ui.dialog('close')"></span>
            <!--
            Perf Tip: scription and resources
            only render iframe if the user needs it
            -->
            <ng-container *rxLet="ui.dialog$; let dialog">
              <iframe [bypassSrc]="movie?.videoUrl" loading="lazy" *ngIf="dialog === 'open' || dialog === 'load'"
                      width="460" height="230"></iframe>
            </ng-container>

          </dialog>
          <button data-uf="movie-detail-page--btn-back" class="btn primary-button" (click)="back()">
            <svg class="btn__icon" viewBox="0 0 448 512" fill="currentColor" width="1em"><path d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path></svg>&nbsp;
            Back
          </button>
        </section>
      </div>
    </ui-detail-grid>
    <div class="loader" *ngIf="!movie"></div>
  </ng-container>
</article>
<article>
  <header>
    <h1>Recommended</h1>
    <h2>Movies</h2>
  </header>
  <ng-container *rxLet="infiniteScrollRecommendations$; let ctx;  strategy: 'immediate'">
    <ui-movie-list (paginate)="paginateRecommendations()"
                   [movies]="ctx.results">
    </ui-movie-list>
    <div *ngIf="ctx.loading" class="loader"></div>
  </ng-container>

</article>
