@import '../../../ui/token/mixins/flex';

:host {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 35rem));
  gap: 4rem 2rem;
  place-content: space-between space-evenly;
  align-items: start;
  margin: 4rem 0;
  position: relative;

  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 23rem));
    justify-content: space-around;
    gap: 4rem 1.5rem;
  }

  @media only screen and (max-width: 500px) {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 18rem));
    gap: 4rem 1rem;
  }

  &::ng-deep {
    .ui-grid-list-item {
      @include d-flex;
      align-items: stretch;
      flex-direction: column;
      transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;

      &:after {
        content: '';
        position: absolute;
        z-index: -99;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: scaleY(0);
        transform-origin: center top;
        background-color: var(--palette-background-paper);
        box-shadow: rgb(0 0 0 / 20%) 0 2px 1px -1px,
        rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
      }

      &:hover {
        transform: scale(1.03);

        &:after {
          transform: scale(1);
        }
      }
    }
  }
}
