<dialog open class="overlay">
  <iframe class="video" src="https://www.youtube.com/embed/8YjFbMbfXaQ?autoplay=1&cc_load_policy=1&controls=1&disablekb=0&enablejsapi=0&fs=1&iv_load_policy=1&loop=0&rel=0&showinfo=1&start=0&wmode=transparent&theme=dark" width="460" height="230"></iframe>
</dialog>
<article *rxLet="loading$; let loading; strategy: 'instantUserBlocking'">
  <header *rxLet="headings$; let headings">
    <h1>{{ headings.title }}</h1>
    <h2>{{ headings.type }}</h2>
  </header>
  <ui-movie-list *ngIf="!loading; else loadingTpl" [movies]="movies$" data-test="list-wrapper">
  </ui-movie-list>
  <ng-template #loadingTpl>
    <div class="loader" data-test="list-loader"></div>
  </ng-template>
</article>
