<div class="padding-wrapper">
  <ng-container *rxLet="loading$; let loading; strategy: 'instantUserBlocking'">
    <app-movie-list *ngIf="!loading; else loadingTpl" [movies]="movies$" data-test="list-wrapper">
      <div class="header" *rxLet="headings$; let headings">
        <h1 class="title" data-test="header-list">{{ headings.title }}</h1>
        <p class="subtitle">{{ headings.type }}</p>
      </div>
    </app-movie-list>
  </ng-container>
  <ng-template #loadingTpl>
    <app-loader data-test="list-loader"></app-loader>
  </ng-template>
</div>
