/*
host is replacement for .aspect-ratio-box
*/
:host {
  display: block;
  height: 0;
  overflow: hidden;
  position: relative;
}

.aspect-ratio-box-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  ::ng-deep {
    img {
      width: 100%;
      height: auto;
    }

    .fit-cover {
      object-fit: cover;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
