.loader {
  display: grid;
  place-items: center;
  min-width: 150px;
  min-height: 150px;
  width: 100%;

  &:after {
    content: ' ';
    width: 3rem;
    height: 3rem;
    border-radius: var(--theme-borderRadius-circle);
    background-color: var(--palette-primary-dark);
    box-shadow: -5rem 0 0 var(--palette-primary-main);
    animation: circle-classic 1s ease-in-out infinite alternate;
  }

}

.loader.center-v {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes circle-classic {
  0% {
    opacity: 0.1;
    transform: rotate(0deg) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg) scale(1.2);
  }
}
