<mat-sidenav-container class="app-shell-container">
  <mat-sidenav
    *rxLet="[]"
    [opened]="mobileQuery.matches ? 'false' : 'true'"
    #snav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches"
  >
    <nav class="navigation">
      <a class="navigation--header" *ngIf="!mobileQuery.matches">
        <picture>
          <img
            class="logo-img"
            src="/assets/svgs/logo.svg"
            title="HubMovies"
            alt="HubMovies"
            width="150"
            height="150"
            loading="lazy"
          />
        </picture>
      </a>
      <h2 class="navigation--headline">Discover</h2>
      <a
        class="navigation--link"
        [href]="'/movies/popular'"
        routerLinkActive="active"
        (click)="closeSidenav(); resetPagination()"
      >
        <div class="navigation--menu-item">
          <mat-icon class="navigation--menu-item-icon">favorite</mat-icon>
          Popular
        </div>
      </a>
      <a
        class="navigation--link"
        [href]="'/movies/top_rated'"
        routerLinkActive="active"
        (click)="closeSidenav(); resetPagination()"
      >
        <div class="navigation--menu-item">
          <mat-icon class="navigation--menu-item-icon">whatshot</mat-icon>
          Top Rated
        </div>
      </a>
      <a
        class="navigation--link"
        [href]="'/movies/upcoming'"
        routerLinkActive="active"
        (click)="closeSidenav(); resetPagination()"
      >
        <div class="navigation--menu-item">
          <mat-icon class="navigation--menu-item-icon">calendar_today</mat-icon>
          Upcoming
        </div>
      </a>
      <h2 class="navigation--headline">Genres</h2>
      <ng-container *rxLet="[]">
        <a
          *ngFor="let genre of genres$ | async; trackBy: trackByGenre"
          class="navigation--link"
          [href]="'/movies' + genre.name.toLowerCase()"
          routerLinkActive="active"
          (click)="closeSidenav(); resetPagination()"
        >
          <div class="navigation--menu-item">
            <mat-icon class="navigation--menu-item-icon"
              >radio_button_checked
            </mat-icon>
            {{ genre.name }}
          </div>
        </a>
      </ng-container>
      <picture class="tmdb-mark">
        <source
          srcset="/assets/svgs/tmdbgreen.svg"
          media="(prefers-color-scheme: dark)"
          class="jsx-172304178"
        />
        <source
          srcset="/assets/svgs/tmdb.svg"
          media="(prefers-color-scheme: light)"
          class="jsx-172304178"
        />
        <img
          width="300"
          height="118"
          alt="The Movie Database"
          src=""
          class="jsx-172304178"
        />
      </picture>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-toolbar">
      <app-hamburger-button
        class="app-toolbar--action"
        (click)="snav.toggle()"
        *ngIf="mobileQuery.matches"
      >
      </app-hamburger-button>
      <div class="app-toolbar--widget-container">
        <mat-form-field
          appearance="filled"
          [floatLabel]="'never'"
          class="app-toolbar--widget-container-search"
        >
          <mat-label>{{ 'App.Search movies' }}</mat-label>
          <mat-icon class="app-toolbar--widget-container-search-icon" matPrefix
            >search</mat-icon
          >
          <input
            matInput
            #search
            (keyup.enter)="searchMovie(search.value); search.value = ''"
            (keyup.enter)="closeSidenav()"
            tabindex="-1"
          />
        </mat-form-field>
        <a
          *ngIf="(authState.accountId$ | async) !== true"
          mat-icon-button
          title="sign in"
          (click)="authEffects.approveRequestToken()"
        >
          <mat-icon>input</mat-icon>
        </a>
        <a
          mat-icon-button
          title="sign out"
          *ngIf="authState.accountId$ | async"
          (click)="onSignOut()"
        >
          <mat-icon>logout</mat-icon>
        </a>
        <a
          mat-icon-button
          *ngIf="authState.accountId$ | async"
          (click)="onSignOut()"
        >
          <mat-icon>logout</mat-icon>
        </a>
      </div>
    </div>
    <div class="app-shell-container--content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
