<div class="app-toolbar" [class.app-toolbar--mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>HubMovies</h1>
  </mat-toolbar>
</div>
<mat-sidenav-container class="app-sidenav">
  <mat-sidenav
    [opened]="mobileQuery.matches ? 'false' : 'true'"
    #snav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches"
  >
    <nav class="navigation">
      <div class="navigation--search">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'App.Search movies' }}...</mat-label>
          <input
            matInput
            #search
            (keyup.enter)="searchMovie(search.value); search.value = ''"
            (keyup.enter)="closeSidenav()"
            tabindex="-1"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <ul class="navigation--links">
        <li>
          <a
            [routerLink]="['/movies', 'popular']"
            routerLinkActive="active"
            (click)="closeSidenav(); resetPagination()"
          >
            <mat-icon>local_movies</mat-icon>
            Popular
          </a>
        </li>
        <li>
          <a
            [routerLink]="['/movies', 'upcoming']"
            routerLinkActive="active"
            (click)="closeSidenav(); resetPagination()"
          >
            <mat-icon>date_range</mat-icon>
            Upcoming
          </a>
        </li>

        <li>
          <a
            [routerLink]="['/movies', 'top_rated']"
            routerLinkActive="active"
            (click)="closeSidenav(); resetPagination()"
          >
            <mat-icon>whatshot</mat-icon>
            Top Rated</a
          >
        </li>

        <li *ngFor="let gerne of genres$ | async; trackBy: trackByGenre">
          <a
            [routerLink]="['/movies', 'gerne']"
            routerLinkActive="active"
            (click)="closeSidenav(); resetPagination()"
          >
            {{ gerne.name }}</a
          >
        </li>

        <li *ngIf="authState.accountId$ | async">
          <a
            routerLink="/account"
            routerLinkActive="active"
            (click)="closeSidenav()"
          >
            <mat-icon>account_box</mat-icon>
            Account
          </a>
        </li>
        <li [hidden]="authState.accountId$ | async">
          <a
            routerLink="/sign-in"
            routerLinkActive="active"
            (click)="closeSidenav()"
          >
            <mat-icon>account_circle</mat-icon>
            Sign in
          </a>
        </li>

        <li *ngIf="authState.accountId$ | async">
          <a (click)="closeSidenav()" (click)="onSignOut()">
            <mat-icon>cancel</mat-icon>
            Sign out
          </a>
        </li>
        <li>
          <a
            routerLink="/settings"
            routerLinkActive="active"
            (click)="closeSidenav()"
          >
            <mat-icon>settings</mat-icon>
            Settings
          </a>
        </li>
        <li>
          <a
            routerLink="/about"
            routerLinkActive="active"
            (click)="closeSidenav()"
          >
            <mat-icon>info</mat-icon>
            About
          </a>
        </li>
      </ul>
    </nav>
  </mat-sidenav>
  <div id="hub-movies">
    <ng-content></ng-content>
  </div>
</mat-sidenav-container>
<div id="btn-returnToTop">
  <button mat-mini-fab color="primary" (click)="scrollTop()">
    <mat-icon>arrow_upward</mat-icon>
  </button>
</div>
