<mat-sidenav-container class="app-shell-container" *rxLet="viewState$; let vs">
  <mat-sidenav
    [opened]="!vs.isMobile"
    #snav
    [mode]="vs.isMobile ? 'over' : 'side'"
    [fixedInViewport]="vs.isMobile"
  >
    <nav class="navigation">
      <a class="navigation--header" *ngIf="!vs.isMobile">
        <picture>
          <img
            class="logo-img"
            src="/assets/svgs/logo.svg"
            title="HubMovies"
            alt="HubMovies"
            width="150"
            height="150"
            loading="lazy"
          />
        </picture>
      </a>
      <h2 class="navigation--headline">Discover</h2>
      <a
        class="navigation--link"
        [class.active]="vs.activeRoute === '/movies/popular'"
        (click)="navTo('/movies', 'popular')"
      >
        <div class="navigation--menu-item">
          <mat-icon class="navigation--menu-item-icon">favorite</mat-icon>
          Popular
        </div>
      </a>
      <a
        class="navigation--link"
        [class.active]="vs.activeRoute === '/movies/top_rated'"
        (click)="navTo('/movies', 'top_rated')"
      >
        <div class="navigation--menu-item">
          <mat-icon class="navigation--menu-item-icon">whatshot</mat-icon>
          Top Rated
        </div>
      </a>
      <a
        class="navigation--link"
        [class.active]="vs.activeRoute === '/movies/upcoming'"
        (click)="navTo('/movies', 'upcoming')"
      >
        <div class="navigation--menu-item">
          <mat-icon class="navigation--menu-item-icon">calendar_today</mat-icon>
          Upcoming
        </div>
      </a>
      <h2 class="navigation--headline">Genres</h2>
      <ng-container *rxLet="genres$; let genres">
        <a
          *ngFor="let genre of genres; trackBy: trackByGenre"
          class="navigation--link"
          [class.active]="vs.activeRoute === '/genre/' + genre.id"
          (click)="navTo('/genre', genre.id)"
        >
          <div class="navigation--menu-item">
            <mat-icon class="navigation--menu-item-icon"
              >radio_button_checked
            </mat-icon>
            {{ genre.name }}
          </div>
        </a>
      </ng-container>
      <picture class="tmdb-mark">
        <source
          srcset="/assets/svgs/tmdbgreen.svg"
          media="(prefers-color-scheme: dark)"
        />
        <source
          srcset="/assets/svgs/tmdb.svg"
          media="(prefers-color-scheme: light)"
        />
        <img width="300" height="118" alt="The Movie Database" src="" />
      </picture>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-toolbar">
      <app-hamburger-button
        class="app-toolbar--action"
        (click)="snav.toggle()"
        *ngIf="vs.isMobile"
      >
      </app-hamburger-button>
      <div class="app-toolbar--widget-container">
        <mat-form-field
          appearance="filled"
          [floatLabel]="'never'"
          class="app-toolbar--widget-container-search"
        >
          <mat-label>{{ 'App.Search movies' }}</mat-label>
          <mat-icon class="app-toolbar--widget-container-search-icon" matPrefix
            >search</mat-icon
          >
          <input
            matInput
            #search
            (keyup.enter)="searchMovie(search.value); search.value = ''"
            (keyup.enter)="closeSidenav()"
            tabindex="-1"
          />
        </mat-form-field>
        <a
          *ngIf="!vs.loggedIn; else signOut"
          mat-icon-button
          title="sign in"
          (click)="authEffects.approveRequestToken()"
        >
          <mat-icon>login</mat-icon>
        </a>
        <ng-template #signOut>
          <a mat-icon-button title="sign out" (click)="onSignOut()">
            <mat-icon>logout</mat-icon>
          </a>
        </ng-template>
      </div>
    </div>
    <div class="app-shell-container--content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
