@import '../../assets/scss/mixins';

.app-toolbar {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 24px;

  @include isDesktop {
    &--action {
      display: none;
    }
  }

  @include isMobile {
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    z-index: 1100;
    box-shadow: rgb(0 0 0 / 20%) 0 2px 4px -1px, rgb(0 0 0 / 14%) 0 4px 5px 0,
      rgb(0 0 0 / 12%) 0 1px 10px 0;
    background-color: var(--palette-background-paper);
    height: 64px;
  }

  &--action {
    color: var(--palette-secondary-main);
  }

  &--widget-container {
    padding: 2rem;
    display: flex;
    align-items: center;
    margin-left: auto;
    a {
      color: var(--palette-secondary-main);
      &:not(:first-child) {
        margin-left: 12px;
        margin-right: 12px;
      }
    }
  }
}
app-side-drawer {
  grid-area: sidenav;
}

.content-wrapper {
  grid-area: content;
}
@include isMobile {
  .content-wrapper {
    padding-top: 72px;
  }
}
.content {
  min-height: calc(100vh - 72px);
  width: 100%;
}
:host {
  min-height: 100vh;
  background: var(--palette-background-default);
  @include isDesktop {
    display: grid;
    grid:
      'sidenav  content' 100vh /
      25rem 1fr;
  }
}
.tmdb-mark {
  display: flex;
  justify-content: center;
  margin: 16px 8px;
  > img {
    max-width: 100%;
    height: 3rem;
  }
}
.navigation {
  display: flex;
  flex-direction: column;

  &--header {
    display: none;
    width: 100%;
    height: 18rem;
    place-items: center;
    margin-bottom: 2rem;

    @include isDesktop {
      display: grid;
    }

    .logo-img {
      max-width: 75%;
    }
  }
  &--search {
    min-height: 3rem;
    line-height: 3;
    padding: 16px 0 0 20px;

    .mat-form-field {
      width: 180px;
      padding: 0 20px;
      font-size: 13px;
    }
  }

  &--link {
    outline: none;
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
    color: var(--palette-primary-main);
    &.active {
      color: var(--palette-secondary-main);
    }
  }
  &--menu-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem 2rem;
  }
  &--menu-item-icon {
    margin-right: 5px;
    width: 0.875em;
    height: auto;
    font-size: 1.5em;
  }
  &--headline {
    &:not(:first-child) {
      margin-top: 4rem;
    }
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--palette-text-primary);
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin: 0px 0px 1rem 1rem;
  }
}

.btn-menu {
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  z-index: 3;
}

/* button return top*/
[id='btn-returnToTop'] {
  position: fixed;
  bottom: 40px;
  right: 12px;
  display: none;
  z-index: 1;
}

.show {
  display: block;
}

.hide {
  display: none;
}
