.movies-list--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 25rem));
  gap: 4rem 2rem;
  place-content: space-between space-evenly;
  align-items: start;
  margin: 4rem 0;

  &-item {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;

    &-image {
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 3rem;

      &-title {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--palette-text-secondary);
        margin-bottom: 1rem;
        line-height: 1.4;
      }
    }

    &:hover {
      transform: scale(1.03);

      .movies-list--grid-item__details {
        color: rgb(255, 255, 255);
        background-color: rgb(66, 66, 66);
        box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
          0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
      }
    }
  }
}
