<div class="header">
  <h1 class="title" *ngIf="!dataParam">{{ title }}</h1>
  <h2 class="subtitle" *ngIf="dataParam">{{ dataParam }}</h2>
</div>
<div class="items" *ngIf="movies && movies.length > 0; else noData">
  <div class="item" *ngFor="let movie of movies; trackBy: movieById">
    <a [routerLink]="['/movie', movie.id]">
      <img
        *ngIf="movie.poster_path"
        [defaultImage]="'assets/images/no_poster_available.jpg'"
        [lazyLoad]="'https://image.tmdb.org/t/p/w185/' + movie.poster_path"
        alt="poster movie"
        width="200px"
        height="343px"
      />
      <img
        *ngIf="!movie.poster_path"
        width="200px"
        height="343px"
        src="/assets/images/no_poster_available.jpg"
        alt="No poster available"
      />
    </a>
    <h3>{{ movie.title }}</h3>
    <star-rating [rating]="movie.vote_average"></star-rating>
  </div>
</div>
<ng-template #noData>
  <h3>
    No results
    <mat-icon>sentiment_very_dissatisfied</mat-icon>
  </h3>
</ng-template>
