.container {
  @media only screen and (max-width: 1462.5px) {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  @media only screen and (max-width: 1300px) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  padding-right: 4rem;
  padding-left: 4rem;
}
