:host {
  margin-bottom: 3rem;
}

h3 {
  color: var(--palette-text-primary);
}

.section--content {
  display: block;
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--palette-text-secondary);
  a {
    color: var(--palette-secondary-main);
  }
}
