.tabs {
  display: flex;
  margin: 16px 0;
  border: 1px solid var(--palette-divider);
  background-color: var(--palette-background-paper);
  align-items: center;
  justify-content: space-between;
}

.tab {
  padding: 0 16px;
  min-height: 46px;
  line-height: 46px;
  font-size: var(--text-md);
  color: var(--palette-primary-dark);
  cursor: pointer;
  flex-grow: 1;
  text-align: center;

  &:hover {
    background: val(--palette-background-default);
  }

  &.active {
    background: var(--palette-background-default);
  }
}

.back {
  outline: none;
  padding: 6px 16px;
  min-width: 96px;
  margin-top: 16px;
  font-weight: normal;
  font-size: var(--text-md);
  color: var(--palette-primary-main);
  border: 1px solid rgba(var(--palette-primary-main-rgb), 0.5);
  border-radius: var(--theme-borderRadius-m);
  box-shadow: none;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
