/**
 * **🚀 Perf Tip for TBT:**
 *
 * Only include styles visible in the main bundle and move other imports directly into the respective component. e.g. button style
 * This reduces bundle-size of your styles.
 */
@import 'styles/normalize';
@import "app/ui/token/mixins/media";
@import "app/ui/token/variables/borderRadius";
@import "app/ui/token/variables/aspectRatio";
@import "app/ui/token/variables/zIndex";
@import "app/ui/token/variables/animations";
@import "app/ui/token/variables/shadow";
@import "app/ui/token/dark-light-mode";
@import 'app/ui/token/typography';

body {
  color: var(--palette-text-primary);
  background-color: var(--palette-background-default);
  transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing);
}

body.dark img:not([src*='.svg']) {
  filter: var(--image-filter);
}




