/**
 * **🚀 Perf Tip for TBT:**
 *
 * Only include styles visible in the main bundle and move other imports directly into the respective component. e.g. button style
 * This reduces bundle-size of your styles.
 */
@import 'styles/normalize';
@import "app/ui/tokens/colors";
@import "app/ui/tokens/zIndex";
@import "app/ui/tokens/animations";
@import "app/ui/tokens/media";
@import "app/ui/tokens/borderRadius";
@import "app/ui/tokens/shadow";
@import 'app/ui/tokens/typography';

body {
  color: var(--palette-text-primary);
  background-color: var(--palette-background-default);
  transition: color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
}

body.dark img:not([src*='.svg']) {
  filter: var(--image-filter);
}


