/**
 * **🚀 Perf Tip for TBT:**
 *
 * Only include styles visible in the main bundle and move other imports directly into the respective component. e.g. button style
 * This reduces bundle-size of your styles.
 */
@import 'styles/normalize';
@import 'app/ui/token/mixins/media';
@import 'app/ui/token/variables/borderRadius';
@import 'app/ui/token/variables/aspectRatio';
@import 'app/ui/token/variables/zIndex';
@import 'app/ui/token/variables/animations';
@import 'app/ui/token/variables/shadow';
@import 'app/ui/token/dark-light-mode';
@import 'app/ui/token/typography';

body {
  color: var(--palette-text-primary);
  background-color: var(--palette-background-default);
  transition: color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);

  &.modal-visible {
    .content {
      contain: none;
    }
  }
}

body.dark img:not([src*='.svg']) {
  filter: var(--image-filter);
}

.select-wrapper {
  position: relative;
}

.select {
  width: 100%;
  background: var(--palette-background-paper);
  padding: 0 16px;
  min-height: 36px;
  border-width: 1px;
  cursor: pointer;
  border: 1px solid var(--palette-divider);
  box-shadow: var(--theme-shadow-dropdown);
  font-size: var(--text-md);
  -webkit-appearance: none;
  position: relative;
  display: block;

  &:focus {
    outline: none;
  }

  &-wrapper {
    &:before {
      transform: rotate(45deg);
      border-right: 1px solid var(--palette-action-active);
      border-bottom: 1px solid var(--palette-action-active);
      pointer-events: none;
      content: '';
      display: inline-block;
      position: absolute;
      top: 10px;
      right: 19px;
      width: 11px;
      height: 11px;
      z-index: 1090;
    }
  }
}
