@import '../../../../ui/token/mixins/flex';

.movies-list {
  &--details {
    @include d-flex-v;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    @media only screen and (max-width: 500px) {
      padding: 1.5rem;
    }

    &-title {
      text-align: center;
      margin-bottom: 1rem;
      line-height: 1.4;
    }
  }
}

.ui-grid-list-item {
  content-visibility: auto;
  position: relative;
  cursor: pointer;

  img {
    transition: filter 150ms ease-in-out;
  }

  &:hover {
    .ribbon {
      display: block;
    }

    img {
      filter: grayscale(1);
    }
  }

  &.selected .ribbon {
    display: block;
  }
}

.ribbon {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  text-align: center;
  margin: auto;
  background: var(--palette-primary-main);
}
