<ui-grid-list class="movies-list--grid">
  <button
    class="ui-grid-list-item"
    [class.selected]="movie.selected"
    *rxFor="
      let movie of adapter.posters$;
      index as idx;
      trackBy: trackByPosterId
    "
    [attr.data-uf]="'movie-' + idx"
    (click)="adapter.ui.listPosterUpdate(movie.backdrop_path)"
  >
    <!--
      **🚀 Perf Tip for LCP:**
      To get out the best performance use the native HTML attribute loading="lazy" instead of a directive.
      This avoids bootstrap and template evaluation time and reduces scripting time in general.
    -->
    <img
      class="aspectRatio-4-3 gradient"
      [ngSrc]="movie.imgSrc"
      [ngSrcset]="adapter.srcset"
      width="355"
      height="200"
      alt="poster movie"
      [title]="movie.title"
    />
    <div class="movies-list--details">
      <h3 class="movies-list--details-title">
        {{ movie.title }}
        <h2 class="ribbon">
          {{ movie.selected ? 'Selected' : 'Select' }}
        </h2>
      </h3>
    </div>
  </button>
</ui-grid-list>
