@import '../../ui/component/button/button';
@import '../../ui/token/mixins/flex';

:host {
  width: 100%;
  height: 100%;
  display: block;
}

.not-found-container {
  @include d-flex-vh;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  margin: 3rem 1rem;
}
