@import '../../../ui/token/mixins/flex';
@import '../../../ui/component/aspect-ratio/aspect-ratio';

.account-list {
  &--details {
    @include d-flex-v;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    @media only screen and (max-width: 500px) {
      padding: 1.5rem;
    }

    &-title {
      text-align: center;
      margin-bottom: 1rem;
      line-height: 1.4;
    }

    &-stats {
      color: var(--palette-text-secondary);
    }
  }
}
.ui-grid-list-item {
  content-visibility: auto;
}
