@import 'assets/scss/custom_theme';
@import 'assets/scss/palette';
@import 'assets/scss/typography';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--palette-background-default);
}

/* Launcher */
.launcher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--palette-secondary-main);
  outline: none;
}

a,
button {
  &:focus,
  &:active {
    outline: none;
  }
}

li {
  list-style: none;
}

.material-icons {
  vertical-align: middle;
}

.mat-dialog-actions {
  color: var(--palette-secondary-main);
}

.mat {
  &-menu-item {
    color: var(--palette-secondary-main);
  }
}

.mat-tab {
  &-labels {
    justify-content: center;
  }

  &-label {
    color: $white;
    opacity: 1 !important;
  }

  &-header-pagination-chevron {
    border-color: white;
  }
}

/* img poster movie */
.icon-container {
  background-position: center;
  background-size: cover;
  border: 1px solid var(--palette-secondary-main);
  line-height: 2;

  .icon-person,
  .icon-movie {
    color: var(--palette-secondary-main);
  }
}

/* Pagination */
.pagination {
  ul {
    -webkit-padding-start: 0;
  }

  li {
    display: inline-block;
    padding: 0 0.5rem;
    vertical-align: middle;
  }

  .disabled a {
    cursor: default;
    pointer-events: none;
    color: var(--palette-action-disabled);
  }
}

/* spinner */
.loading-shade {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(34, 43, 49, 0.5);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (min-width: 731px) {
    left: 208px;
  }
}

* {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    -webkit-scroll-behavior: auto;
    -moz-scroll-behavior: auto;
    -ms-scroll-behavior: auto;
    scroll-behavior: auto;
  }
}

form,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-decoration: none;
  text-decoration: none;
}

:root {
  --duration: 0.5s;
  --timing: ease;
  --palette-background-backdrop: rgba(0, 0, 0, 0.5);
  --palette-common-white: #fff;
  --palette-common-black: #000;
  --palette-custom-lightBlue: lightblue;
  --palette-custom-tmdbLightBlue: #01b4e4;
}

body {
  color: var(--palette-text-primary);
  background-color: var(--palette-background-default);
  -webkit-transition: color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
  transition: color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
}

body.light {
  --palette-background-default: #fafafa;
  --palette-text-primary: rgba(0, 0, 0, 0.87);
  --palette-text-secondary: rgba(0, 0, 0, 0.54);
  --palette-text-disabled: rgba(0, 0, 0, 0.38);
  --palette-divider: rgba(0, 0, 0, 0.12);
  --palette-action-active: rgba(0, 0, 0, 0.54);
  --palette-action-hover: rgba(0, 0, 0, 0.04);
  --palette-action-hover-opacity: 0.04;
  --palette-action-selected: rgba(0, 0, 0, 0.08);
  --palette-action-disabled: rgba(0, 0, 0, 0.26);
  --palette-action-disabled-background: rgba(0, 0, 0, 0.12);
  --palette-background-paper: #fff;
  --palette-primary-main: #14b8a2;
  --palette-primary-main-rgb: 20, 184, 162;
  --palette-primary-dark: #0e8071;
  --palette-primary-light: #43c6b4;
  --palette-primary-contrast-text: rgba(0, 0, 0, 0.87);
  --palette-secondary-main: #b80040;
  --palette-secondary-main-rgb: 184, 0, 64;
  --palette-secondary-dark: #80002c;
  --palette-secondary-light: #c63366;
  --palette-secondary-contrast-text: #fff;
  --palette-warning-main: #b5b800;
  --palette-warning-dark: #7e8000;
  --palette-warning-light: #c3c633;
  --palette-warning-contrast-text: rgba(0, 0, 0, 0.87);
  --background-blend-gradient: linear-gradient(
    rgba(255, 255, 255, 0) 68%,
    rgb(255, 255, 255) 100%
  );
}

body.dark {
  --image-filter: grayscale(0%);
  --palette-background-default: #303030;
  --palette-text-primary: #fff;
  --palette-text-secondary: rgba(255, 255, 255, 0.7);
  --palette-text-disabled: rgba(255, 255, 255, 0.5);
  --palette-divider: rgba(255, 255, 255, 0.12);
  --palette-action-active: #fff;
  --palette-action-hover: rgba(255, 255, 255, 0.08);
  --palette-action-hover-opacity: 0.08;
  --palette-action-selected: rgba(255, 255, 255, 0.16);
  --palette-action-disabled: rgba(255, 255, 255, 0.3);
  --palette-action-disabled-background: rgba(255, 255, 255, 0.12);
  --palette-background-paper: #424242;
  --palette-primary-main: #41ead4;
  --palette-primary-main-rgb: 65, 234, 212;
  --palette-primary-dark: #2da394;
  --palette-primary-light: #67eedc;
  --palette-primary-contrast-text: rgba(0, 0, 0, 0.87);
  --palette-secondary-main: #ff206e;
  --palette-secondary-main-rgb: 255, 32, 110;
  --palette-secondary-dark: #b2164d;
  --palette-secondary-light: #ff4c8b;
  --palette-secondary-contrast-text: #fff;
  --palette-warning-main: #fbff12;
  --palette-warning-dark: #afb20c;
  --palette-warning-light: #fbff41;
  --palette-warning-contrast-text: rgba(0, 0, 0, 0.87);
  --background-blend-gradient: linear-gradient(
    rgba(255, 255, 255, 0) 68%,
    rgb(48, 48, 48) 100%
  );
}

body.dark img:not([src*='.svg']) {
  -webkit-filter: var(--image-filter);
  filter: var(--image-filter);
}

.star-rating {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .rating-value {
    overflow: hidden;
    color: #b5b800;
    font-size: 16px;
    padding: 5px 0 0 5px;
  }

  .stars {
    overflow: hidden;
    position: relative;
  }

  .star {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 24px;
    color: #b5b800;
  }

  .star-full {
    color: #b5b800;
  }

  .star-half {
    color: gray;

    &:before {
      position: absolute;
      overflow: hidden;
      display: block;
      z-index: 1;
      top: 0;
      left: 0;
      width: 50%;
      content: '★';
      color: #b5b800;
    }
  }

  .star-empty {
    color: gray;
  }
}
