<label for="delete-list-button"
  >Click the button below if you are sure you want to delete this list.</label
>
<button
  class="primary-button"
  id="delete-list-button"
  (click)="ui.openDialog()"
>
  Delete
</button>

<dialog #dialog>
  <header>
    <h2>Are you sure?</h2>
  </header>
  <p>By clicking yes, this list will be permanently deleted.</p>
  <footer>
    <button
      aria-label="Cancel list delete"
      class="secondary-button"
      (click)="ui.closeDialog()"
    >
      No
    </button>
    <button
      aria-label="Confirm list delete"
      class="secondary-button"
      (click)="ui.confirm()"
    >
      Yes
    </button>
  </footer>
</dialog>
