label {
  display: block;
  font-size: var(--text-md);
}

input {
  margin-top: 4px;
  font-size: var(--text-md);
  display: block;
  padding: 10px 16px;
  width: 100%;
  border: 1px solid var(--palette-divider);
  background: var(--palette-background-paper);
  color: var(--palette-text-primary);
  cursor: pointer;

  &:focus {
    outline: 1px solid var(--palette-divider);
  }
}

fieldset {
  margin-top: 8px;
  margin-bottom: 16px;
  border: none;
  position: relative;
}

.list {
  display: block;
  counter-reset: listCounter;
  padding-bottom: 16px;
}

.item {
  display: flex;
  font-size: var(--text-md);
  width: 100%;
  align-items: center;
  counter-increment: listCounter;
  padding: 3px 0 3px 8px;

  .overview {
    margin-bottom: 8px;
  }

  &:before {
    margin-right: 10px;
    content: counter(listCounter);
    background-color: var(--palette-custom-lightBlue);
    border-radius: 50%;
    color: var(--palette-text-primary);
    width: 24px;
    height: 24px;
    display: inline-grid;
    place-items: center;
    flex-shrink: 0;
  }
}

.box {
  padding: 0 8px 0 20px;
  flex-grow: 1;
  border: 1px solid var(--palette-divider);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete {
  border: none;
  background: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: var(--palette-action-hover);
  }
}

.results {
  max-height: 300px;
  overflow: auto;
  position: absolute;
  top: calc(100% + 8px);
  background: var(--palette-background-paper);
  border: 1px solid var(--palette-divider);
  width: 100%;
  z-index: 2000;

  &-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background: transparent;
    z-index: 1000;
  }

  .item {
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--palette-divider);

    &:before {
      display: none;
    }
  }

  .item:hover {
    background: var(--palette-action-hover);
    cursor: pointer;
  }
}

.overview {
  display: block;
  color: var(--palette-text-secondary);
}

.poster {
  width: 92px;
  height: 92px;
  overflow: hidden;
  margin-right: 24px;
}

.title {
  text-transform: none;
  font-weight: normal;
  color: var(--palette-text-primary);
}
