<div class="account">
    <div class="account--informations">
        <div class="account--informations-avatar">
          notPhotoURL: {{notPhotoURL}}
            <ng-template [ngIf]="photoURL">
                <img src="{{photoURL}}" alt="profile" width="50" height="50">
              notPhotoURL
            </ng-template>
            <ng-template [ngIf]="!photoURL">
                <div class="avatar">{{notPhotoURL}}</div>
            </ng-template>
        </div>
        <div class="account--informations-details">
            <p> {{displayName}}</p>
            <small>{{email}}</small>
        </div>
    </div>
    <div class="account--actions">
        <button mat-raised-button (click)="deleteAccountDialog()">{{'Account.Delete account' | translate}}</button>
    </div>
</div>
<div class="account__stat">

</div>
