@import '../../assets/scss/palette';

:root {
  --avatarColor: #cccccc;
}


.account {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    margin: 20px 0;

    @media only screen and (max-width: 731px) {
        flex-direction: column;
    }

    &--informations {
        display: inherit;
        flex-direction: row;
        align-items: inherit;
        justify-content: flex-end;
        width: inherit;

        @media only screen and (max-width: 731px) {
            flex-direction: column;
            justify-content: center;
            margin:  0 0 20px;
        }

        &-details {
            margin: 0 20px 0;
            text-align: left;
            @media only screen and (max-width: 731px) {
                text-align: center;
            }


            p {
                margin: 0;
            }
        }
    }
    &--actions {
        display: inherit;
        width: inherit;
        justify-content: center;

        button {
            background: $primary-light;
            color: black;
        }
    }
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: var(--avatarColor);
    border-radius: 50%;
    line-height: 3;
    text-transform: capitalize;
    color: black;
}
