<div class="account">
  <div class="account--informations" *ngIf="accountId$ | async as u">
    <div class="avatar">
      <img
        *ngIf="u.photoURL"
        src="{{ u }}"
        alt="profile"
        loading="lazy"
        width="50"
        height="50"
      />
    </div>
    <div class="account--informations-details">
      <p>{{ u }}</p>
      <small>{{ u }}</small>
    </div>
  </div>

  <div class="account--actions">
    <button mat-raised-button>Delete account</button>
  </div>
</div>

<div class="account__stat">
  <p>Account stats coming soon.</p>
</div>
