@import '../../token/mixins/flex';
.btn {
  @include d-flex-vh;
  @include d-inline-flex;
  outline: none;
  padding: 6px 16px;
  min-width: 96px;
  min-height: 48px;
  font-weight: normal;
  font-size: var(--text-md);
  color: var(--palette-primary-main);
  border: 1px solid rgba(var(--palette-primary-main-rgb), 0.5);
  border-radius: var(--theme-borderRadius-m);
  box-shadow: none;
  background-color: transparent;
}

.btn__icon {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.primary-button {
  background: var(--palette-primary-main);
  font-size: var(--text-md);
  width: 138px;
  margin-top: 8px;
  border: none;
  min-height: 48px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 100ms ease-in-out;
  box-shadow: rgb(0 0 0 / 20%) 0 2px 3px -1px, rgb(0 0 0 / 14%) 0 3px 4px 0,
    rgb(0 0 0 / 12%) 0 1px 10px 0;

  &:hover {
    background: var(--palette-primary-light);
    transform: translateY(-1px);
    box-shadow: rgb(0 0 0 / 20%) 0 1px 2px -1px, rgb(0 0 0 / 14%) 0 2px 3px 0,
      rgb(0 0 0 / 12%) 0 1px 10px 0;
  }
}
