<div class="movie-detail--grid">
  <div class="movie-detail--grid-item">
    <img
      class="artwork"
      loading="lazy"
      [src]="
        'https://image.tmdb.org/t/p/w' +
        W342H513.WIDTH +
        '/' +
        movie.poster_path
      "
      [width]="W342H513.WIDTH"
      [height]="W342H513.HEIGHT"
      alt="poster movie"
      [title]="movie.title"
    />
  </div>
  <div class="movie-detail--grid-item">
    <div class="movie-detail--summary">
      <h1 class="movie-detail--title">{{ movie.title }}</h1>
      <h2 class="movie-detail--subtitle">{{ movie.tagline }}</h2>
      <div class="movie-detail--basic-infos">
        <div class="movie-detail--rating">
          <star-rating
            [rating]="movie.vote_average"
            [showRating]="true"
          ></star-rating>
        </div>
        <div class="movie-detail--languages-runtime-release">
          {{ movie.languages_runtime_release }}
        </div>
      </div>
      <div class="movie-detail--section">
        <h3 class="section-heading">The Genres</h3>
        <a
          class="genre-link"
          *ngFor="let genre of movie.genres; trackBy: trackByGenre"
          [routerLink]="genre.id"
        >
          <mat-icon> radio_button_checked </mat-icon>
          {{ genre.name }}
        </a>
      </div>
      <div class="movie-detail--section">
        <h3 class="section-heading">The Synopsis</h3>
        <p class="section-text">
          {{ movie.overview || 'There is no synopsis available...' }}
        </p>
      </div>
      <div class="movie-detail--section">
        <h3 class="section-heading">The Cast</h3>
        <div class="movie-detail--cast-list">
          <a *ngFor="let c of cast; trackBy: trackByCast">
            <img
              [defaultImage]="'assets/images/no_poster_available.jpg'"
              [lazyLoad]="'https://image.tmdb.org/t/p/w185' + c?.profile_path"
              alt="poster movie"
              [title]="movie.title"
            />
          </a>
        </div>
      </div>
      <div class="movie-detail--section">
        <a class="btn" href="movie.homepage">
          Website
          <mat-icon> link </mat-icon>
        </a>
        <a class="btn" href="movie.imdb_id">
          IMDB
          <mat-icon> radio_button_checked </mat-icon>
        </a>
        <button class="btn" type="button" *ngIf="movie.video">
          {{ movie.video }}
          <mat-icon> movie </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="movie-detail--recommended">
  <app-movie-list
    [movies]="recommendations"
    [title]="'Recommended'"
    [dataParam]="'Movies'"
  >
  </app-movie-list>
</div>
