<ng-container *rxIf="loggedIn$; else guest">
  <div><a [routerLink]="['account/list/create']">Create New List</a></div>
  <div><a [routerLink]="['account/my-lists']">My Lists</a></div>
  <div>
    <a
      data-uf="profile-menu-item-signout"
      (click)="ui.signOut($event)"
      title="sign out"
      [routerLink]="'/list/category/popular'"
    >
      Logout
    </a>
  </div>
</ng-container>
<ng-template #guest>
  <div><p>Guest Profile</p></div>
  <div>
    <button
      type="button"
      class="functionality-only-button"
      data-uf="profile-menu-item-login"
      (click)="ui.signIn($event)"
      title="sign in"
    >
      Login
    </button>
  </div>
</ng-template>
