@import '../../ui/component/button/_button';

:host {
  display: flex;
  flex-direction: column;
}

.functionality-only-button {
  width: 100%;
  padding: 0 15px;
}

div {
  font-size: var(--text-md);
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--palette-text-primary);
  height: 36px;
  background-color: var(--palette-background-paper);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  &:hover {
    background-color: var(--palette-action-hover);
  }
  a,
  p {
    color: var(--palette-text-primary);
    height: 100%;
    display: inline-block;
    width: 100%;
    padding: 6px 16px;
  }
}

div:not(:last-child) {
  border-bottom: 1px solid var(--palette-divider);
}

a {
  font-size: var(--text-md);
}
