  <ng-container *rxIf="loggedIn$; else guest">
    <div><a [routerLink]="['account/list/create']">Create New List</a></div>
    <div><a [routerLink]="['account/my-lists']">My Lists</a></div>
    <div>
      <a
        (click)="ui.signOut($event)"
        title="sign out"
        [routerLink]="'/list/category/popular'"
      >
        Logout
      </a>
    </div>
  </ng-container>
  <ng-template #guest>
    <div>Guest Profile</div>
    <div>
      <a (click)="ui.signIn($event)" title="sign in"> Login </a>
    </div>
  </ng-template>
