@import '../../assets/scss/palette';

.settings {
    min-height: 50vh;
    padding: 20px;
    mat-icon {
        color: white;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .setting {
            display: inherit;
            align-items: center;
            width: 100%;
            height: 50px;
            &:hover {
                background: $background;
            }
        }
    }
    /deep/ .mat-select {
        width: 140px;
    
        &-arrow {
            color: white;
        }
    
        &-placeholder, &-value {
            color: white;
        }
    }
    /deep/ .mat-slide-toggle-label {
        color: white;
    }
    /deep/ .mat-slide-toggle-bar {
        background: grey;
    }
}
